<footer>

	<div class="container">

		<div class="row text-xs-center">

			<div class="col-xs-12 col-sm">

				<p><strong>Twitter</strong><br>
				<a href="http://twitter.com/johnpeart">@johnpeart</a></p>

			</div>
			<div class="col-xs-12 col-sm">

				<p><strong>Instagram</strong></strong><br>
				<a href="http://instagram.com/johnpeart">johnpeart</a></p>

			</div>
			<div class="col-xs-12 col-sm">

				<p><strong>LinkedIn</strong><br>
				<a href="http://uk.linkedin.com/in/jrpeart">jrpeart</a></p>

			</div>
			<div class="col-xs-12 col-sm">

				<p><strong>Github</strong><br>
				<a href="http://github.com/johnpeart">johnpeart</a></p>

			</div>

		</div>

		<div class="row ident text-xs-center">

			<div class="col-xs-12">

				<p><a href="{{ site.url }}" title="Site created by John Peart. Visit home page." class="footer-brand">JP</a></p>

			</div>

		</div>

	</div>

</footer>