/* VARIABLES for Card Stack */

/* Standard sizes */
$card-width: 15rem;
$card-height: $card-width / (2/3);
$card-margin: 0 1rem 0 1rem;
$card-padding: 1rem;

$card-stack-width: 100vw;
$card-stack-height: $card-height + 6rem;

$card-stack-card-end-width: $card-width/10;
$card-stack-card-end-height: $card-height;

	/* Transforms */
	$nth-child-1-translate: calc(-50% - 6/5 * #{$card-width}), 1rem;
	$nth-child-1-translate-hover: calc(-50% - 2.2 * #{$card-width}), 1rem;
	$nth-child-1-rotate: -20;
	$nth-child-1-transform-origin: 100% 0;

	$nth-child-2-translate: calc(-50% - 3/5 * #{$card-width}), 1rem;
	$nth-child-2-translate-hover: calc(-50% - 1.1 * #{$card-width}), 1rem;
	$nth-child-2-rotate: $nth-child-1-rotate + 10;
	$nth-child-2-transform-origin: 75% 0;

	$nth-child-3-translate: -50%, 1rem;
	$nth-child-3-translate-hover: -50%, 1rem;
	$nth-child-3-rotate: $nth-child-2-rotate + 10;
	$nth-child-3-transform-origin: 50% 0;

	$nth-child-4-translate: calc(-50% + 3/5 * #{$card-width}), 1rem;
	$nth-child-4-translate-hover: calc(-50% + 1.1 * #{$card-width}), 1rem;
	$nth-child-4-rotate: $nth-child-3-rotate + 10;
	$nth-child-4-transform-origin: 25% 0;

	$nth-child-5-translate: calc(-50% + 6/5 * #{$card-width}), 1rem;
	$nth-child-5-translate-hover: calc(-50% + 2.2 * #{$card-width}), 1rem;
	$nth-child-5-rotate: $nth-child-4-rotate + 10;
	$nth-child-5-transform-origin: 0% 0;

	$nth-child-gt5-translate: $nth-child-5-translate;
	$nth-child-gt5-translate-hover: calc(-50% + 3.3 * #{$card-width}), 1rem;
	$nth-child-gt5-rotate: $nth-child-5-rotate;
	$nth-child-gt5-transform-origin: $nth-child-5-transform-origin;

	$card-stack-card-end-translate: $nth-child-gt5-translate;
	$card-stack-card-end-translate-hover: calc(-50% + 4.4 * #{$card-width}), 1rem;
	$card-stack-card-end-rotate: $nth-child-gt5-rotate;
	$card-stack-card-end-transform-origin: $nth-child-gt5-transform-origin;

	/* Z-indices */
	$nth-child-1-z-index: 1000;
	$nth-child-2-z-index: $nth-child-1-z-index - 5;
	$nth-child-3-z-index: $nth-child-2-z-index - 5;
	$nth-child-4-z-index: $nth-child-3-z-index - 5;
	$nth-child-5-z-index: $nth-child-4-z-index - 5;
	$nth-child-gt5-z-index: $nth-child-5-z-index - 5;


/* Extra small screens */
$xs-card-width: 15rem;
$xs-card-height: $xs-card-width / (2/3);
$xs-card-margin: 0;
$xs-card-padding: 1rem;

$xs-card-stack-width: 100vw;
$xs-card-stack-height: $xs-card-height + 6rem;

$xs-card-stack-card-end-width: $xs-card-width/10;
$xs-card-stack-card-end-height: $xs-card-height;

	/* Transforms */
	$xs-nth-child-1-translate: -50%, 1rem;
	$xs-nth-child-1-translate-hover: -50%, 1rem;
	$xs-nth-child-1-rotate: -5;
	$xs-nth-child-1-transform-origin: 50% 50%;

	$xs-nth-child-2-translate: -50%, 1rem;
	$xs-nth-child-2-translate-hover: calc(-50% + 1.1 * #{$xs-card-width}), 1rem;
	$xs-nth-child-2-rotate: $xs-nth-child-1-rotate + 5;
	$xs-nth-child-2-transform-origin: 50% 50%;

	$xs-nth-child-3-translate: -50%, 1rem;
	$xs-nth-child-3-translate-hover: calc(-50% + 2.2 * #{$xs-card-width}), 1rem;
	$xs-nth-child-3-rotate: $xs-nth-child-2-rotate + 5;
	$xs-nth-child-3-transform-origin: 50% 50%;

	$xs-nth-child-4-translate: -50%, 1rem;
	$xs-nth-child-4-translate-hover: calc(-50% + 3.3 * #{$xs-card-width}), 1rem;
	$xs-nth-child-4-rotate: $xs-nth-child-3-rotate + 5;
	$xs-nth-child-4-transform-origin: 50% 50%;

	$xs-nth-child-5-translate: -50%, 1rem;
	$xs-nth-child-5-translate-hover: calc(-50% + 4.4 * #{$xs-card-width}), 1rem;
	$xs-nth-child-5-rotate: $xs-nth-child-4-rotate + 5;
	$xs-nth-child-5-transform-origin: 50% 50%;

	$xs-nth-child-gt5-translate: $xs-nth-child-5-translate;
	$xs-nth-child-gt5-translate-hover: calc(-50% + 5.5 * #{$xs-card-width}), 1rem;
	$xs-nth-child-gt5-rotate: $xs-nth-child-5-rotate;
	$xs-nth-child-gt5-transform-origin: $xs-nth-child-5-transform-origin;

	$xs-card-stack-card-end-translate: $xs-nth-child-gt5-translate;
	$xs-card-stack-card-end-translate-hover: calc(-50% + 6.2 * #{$xs-card-width}), 1rem;
	$xs-card-stack-card-end-rotate: $xs-nth-child-gt5-rotate;
	$xs-card-stack-card-end-transform-origin: $xs-nth-child-gt5-transform-origin;

/* Small screens */
$sm-card-width: 15rem;
$sm-card-height: $xs-card-width / (2/3);
$sm-card-margin: 0;
$sm-card-padding: 1rem;

$sm-card-stack-width: 100vw;
$sm-card-stack-height: $xs-card-height + 6rem;

$sm-card-stack-card-end-width: $xs-card-width/10;
$sm-card-stack-card-end-height: $xs-card-height;

	/* Transforms */
	$sm-nth-child-1-translate: -50%, 1rem;
	$sm-nth-child-1-translate-hover: -50%, 1rem;
	$sm-nth-child-1-rotate: -5;
	$sm-nth-child-1-transform-origin: 50% 50%;

	$sm-nth-child-2-translate: -50%, 1rem;
	$sm-nth-child-2-translate-hover: calc(-50% + 1.1 * #{$sm-card-width}), 1rem;
	$sm-nth-child-2-rotate: $xs-nth-child-1-rotate + 5;
	$sm-nth-child-2-transform-origin: 50% 50%;

	$sm-nth-child-3-translate: -50%, 1rem;
	$sm-nth-child-3-translate-hover: calc(-50% + 2.2 * #{$sm-card-width}), 1rem;
	$sm-nth-child-3-rotate: $xs-nth-child-2-rotate + 5;
	$sm-nth-child-3-transform-origin: 50% 50%;

	$sm-nth-child-4-translate: -50%, 1rem;
	$sm-nth-child-4-translate-hover: calc(-50% + 3.3 * #{$sm-card-width}), 1rem;
	$sm-nth-child-4-rotate: $xs-nth-child-3-rotate + 5;
	$sm-nth-child-4-transform-origin: 50% 50%;

	$sm-nth-child-5-translate: -50%, 1rem;
	$sm-nth-child-5-translate-hover: calc(-50% + 4.4 * #{$sm-card-width}), 1rem;
	$sm-nth-child-5-rotate: $xs-nth-child-4-rotate + 5;
	$sm-nth-child-5-transform-origin: 50% 50%;

	$sm-nth-child-gt5-translate: $xs-nth-child-5-translate;
	$sm-nth-child-gt5-translate-hover: calc(-50% + 5.5 * #{$sm-card-width}), 1rem;
	$sm-nth-child-gt5-rotate: $xs-nth-child-5-rotate;
	$sm-nth-child-gt5-transform-origin: $xs-nth-child-5-transform-origin;

	$sm-card-stack-card-end-translate: $xs-nth-child-gt5-translate;
	$sm-card-stack-card-end-translate-hover: calc(-50% + 6.2 * #{$sm-card-width}), 1rem;
	$sm-card-stack-card-end-rotate: $xs-nth-child-gt5-rotate;
	$sm-card-stack-card-end-transform-origin: $xs-nth-child-gt5-transform-origin;

/* Medium screens */
$md-card-width: 15rem;
$md-card-height: $md-card-width / (2/3);
$md-card-margin: 0;
$md-card-padding: 1rem;

$md-card-stack-width: 100vw;
$md-card-stack-height: $md-card-height + 6rem;

$md-card-stack-card-end-width: $md-card-width/10;
$md-card-stack-card-end-height: $md-card-height;

	/* Transforms */
	$md-nth-child-1-translate: calc(-50% - 4/6 * #{$md-card-width}), 1rem;
	$md-nth-child-1-translate-hover: calc(-40% - 1.1 * #{$md-card-width}), 1rem;
	$md-nth-child-1-rotate: -20;
	$md-nth-child-1-transform-origin: 100% 0;

	$md-nth-child-2-translate: calc(-50% - 2/6 * #{$md-card-width}), 1rem;
	$md-nth-child-2-translate-hover: -40%, 1rem;
	$md-nth-child-2-rotate: $md-nth-child-1-rotate + 10;
	$md-nth-child-2-transform-origin: 75% 0;

	$md-nth-child-3-translate: -50%, 1rem;
	$md-nth-child-3-translate-hover: calc(-40% + 1.1 * #{$md-card-width}), 1rem;
	$md-nth-child-3-rotate: $md-nth-child-2-rotate + 10;
	$md-nth-child-3-transform-origin: 50% 0;

	$md-nth-child-4-translate: calc(-50% + 2/6 * #{$md-card-width}), 1rem;
	$md-nth-child-4-translate-hover: calc(-40% + 2.2 * #{$md-card-width}), 1rem;
	$md-nth-child-4-rotate: $md-nth-child-3-rotate + 10;
	$md-nth-child-4-transform-origin: 25% 0;

	$md-nth-child-5-translate: calc(-50% + 4/6 * #{$md-card-width}), 1rem;
	$md-nth-child-5-translate-hover: calc(-40% + 3.3 * #{$md-card-width}), 1rem;
	$md-nth-child-5-rotate: $md-nth-child-4-rotate + 10;
	$md-nth-child-5-transform-origin: 0% 0;

	$md-nth-child-gt5-translate: $md-nth-child-5-translate;
	$md-nth-child-gt5-translate-hover: calc(-40% + 4.4 * #{$md-card-width}), 1rem;
	$md-nth-child-gt5-rotate: $md-nth-child-5-rotate;
	$md-nth-child-gt5-transform-origin: $md-nth-child-5-transform-origin;

	$md-card-stack-card-end-translate: $md-nth-child-gt5-translate;
	$md-card-stack-card-end-translate-hover: calc(-40% + 5.2 * #{$md-card-width}), 1rem;
	$md-card-stack-card-end-rotate: $md-nth-child-gt5-rotate;
	$md-card-stack-card-end-transform-origin: $md-nth-child-gt5-transform-origin;

/* Large screens */
$lg-card-width: 15rem;
$lg-card-height: $lg-card-width / (2/3);
$lg-card-margin: 0;
$lg-card-padding: 1rem;

$lg-card-stack-width: 100vw;
$lg-card-stack-height: $lg-card-height + 6rem;

$lg-card-stack-card-end-width: $lg-card-width/10;
$lg-card-stack-card-end-height: $lg-card-height;

	/* Transforms */
	$lg-nth-child-1-translate: calc(-50% - 6/5 * #{$lg-card-width}), 1rem;
	$lg-nth-child-1-translate-hover: calc(-50% - 1.1 * #{$lg-card-width}), 1rem;
	$lg-nth-child-1-rotate: -20;
	$lg-nth-child-1-transform-origin: 100% 0;

	$lg-nth-child-2-translate: calc(-50% - 3/5 * #{$lg-card-width}), 1rem;
	$lg-nth-child-2-translate-hover: -50%, 1rem;
	$lg-nth-child-2-rotate: $lg-nth-child-1-rotate + 10;
	$lg-nth-child-2-transform-origin: 75% 0;

	$lg-nth-child-3-translate: -50%, 1rem;
	$lg-nth-child-3-translate-hover: calc(-50% + 1.1 * #{$lg-card-width}), 1rem;
	$lg-nth-child-3-rotate: $lg-nth-child-2-rotate + 10;
	$lg-nth-child-3-transform-origin: 50% 0;

	$lg-nth-child-4-translate: calc(-50% + 3/5 * #{$lg-card-width}), 1rem;
	$lg-nth-child-4-translate-hover: calc(-50% + 2.2 * #{$lg-card-width}), 1rem;
	$lg-nth-child-4-rotate: $lg-nth-child-3-rotate + 10;
	$lg-nth-child-4-transform-origin: 25% 0;

	$lg-nth-child-5-translate: calc(-50% + 6/5 * #{$lg-card-width}), 1rem;
	$lg-nth-child-5-translate-hover: calc(-50% + 3.3 * #{$lg-card-width}), 1rem;
	$lg-nth-child-5-rotate: $lg-nth-child-4-rotate + 10;
	$lg-nth-child-5-transform-origin: 0% 0;

	$lg-nth-child-gt5-translate: $lg-nth-child-5-translate;
	$lg-nth-child-gt5-translate-hover: calc(-50% + 4.4 * #{$lg-card-width}), 1rem;
	$lg-nth-child-gt5-rotate: $lg-nth-child-5-rotate;
	$lg-nth-child-gt5-transform-origin: $lg-nth-child-5-transform-origin;

	$lg-card-stack-card-end-translate: $lg-nth-child-gt5-translate;
	$lg-card-stack-card-end-translate-hover: calc(-50% + 5.2 * #{$lg-card-width}), 1rem;
	$lg-card-stack-card-end-rotate: $lg-nth-child-gt5-rotate;
	$lg-card-stack-card-end-transform-origin: $lg-nth-child-gt5-transform-origin;


.card-stack-container {
	@extend .container-fluid;

	padding: 0;
	margin: 0;

	height: $card-stack-height;

}

div.card-stack {

	display: inline-block;
    position: relative;
    white-space: nowrap;

//    background: lighten($brand-primary, 20%);

	width: $card-stack-width;
	height: $card-stack-height;

	margin: 0;
	padding: 0;

	&::-webkit-scrollbar {
	    display: none;
	}

	div.card-stack-card {

		position: absolute;
		display: inline-block;

		left: 50%;

	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

		width: $card-width;
		height: $card-height;

		vertical-align: top;
		font-size: initial;
		white-space: normal;

		transition: all 0.3s ease-out;

		padding: $card-padding;
		margin: $card-margin;

		background: $card-bg;
		color: $body-color-inverse;


		&:nth-child(1) {
			transform: translate($nth-child-1-translate) rotate(#{$nth-child-1-rotate}deg);
			transform-origin: $nth-child-1-transform-origin;
			z-index: $nth-child-1-z-index;
		}
		&:nth-child(2) {
			transform: translate($nth-child-2-translate) rotate(#{$nth-child-2-rotate}deg);
			transform-origin: $nth-child-2-transform-origin;
			z-index: $nth-child-2-z-index;
		}
		&:nth-child(3) {
			transform: translate($nth-child-3-translate) rotate(#{$nth-child-3-rotate}deg);
			transform-origin: $nth-child-3-transform-origin;
			z-index: $nth-child-3-z-index;
		}
		&:nth-child(4) {
			transform: translate($nth-child-4-translate) rotate(#{$nth-child-4-rotate}deg);
			transform-origin: $nth-child-4-transform-origin;
			z-index: $nth-child-4-z-index;
		}
		&:nth-child(5) {
			transform: translate($nth-child-5-translate) rotate(#{$nth-child-5-rotate}deg);
			transform-origin: $nth-child-5-transform-origin;
			z-index: $nth-child-5-z-index;
		}
		&:nth-child(n+6) {
			transform: translate($nth-child-gt5-translate) rotate(#{$nth-child-gt5-rotate}deg);
			transform-origin: $nth-child-gt5-transform-origin;
			z-index: $nth-child-gt5-z-index;
			visibility: hidden;
		}


		@include box-shadow-shallow;

	}

	div.card-stack-card-end {

		position: absolute;
		display: inline-block;

	    left:50%;

	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

		width: $card-stack-card-end-width;
		height: $card-stack-card-end-height;

		transform: translate($card-stack-card-end-translate) rotate(#{$nth-child-gt5-rotate}deg);
		z-index: 1000 !important;
		visibility: hidden;

	}

	&:hover {

		overflow-x: auto;
		overflow-y: auto;

		height: $card-stack-height;

		div.card-stack-card {

			&:nth-child(1) {
				transform: translate($nth-child-1-translate-hover);
			}
			&:nth-child(2) {
				transform: translate($nth-child-2-translate-hover);
			}
			&:nth-child(3) {
				transform: translate($nth-child-3-translate-hover);
			}
			&:nth-child(4) {
				transform: translate($nth-child-4-translate-hover);
			}
			&:nth-child(5) {
				transform: translate($nth-child-5-translate-hover);
			}
			&:nth-child(n+6) {
				visibility: visible;
				transform: translate($nth-child-gt5-translate-hover);
			}
			&:nth-child(n+7) {
				visibility: hidden;
				transform: translate($nth-child-gt5-translate-hover);
			}

		}

		div.card-stack-card-end {

			visibility: visible;
			transform: translate($card-stack-card-end-translate-hover);

		}
	}

}


@include media-breakpoint-only(xs) {

	.card-stack-container {

		padding: 0;
		margin: 0;

		height: $xs-card-stack-height;

	}

	div.card-stack {

		width: $xs-card-stack-width;
		height: $xs-card-stack-height;

		div.card-stack-card {

			width: $xs-card-width;
			height: $xs-card-height;

			padding: $xs-card-padding;
			margin: $xs-card-margin;


			&:nth-child(1) {
				transform: translate($xs-nth-child-1-translate) rotate(#{$xs-nth-child-1-rotate}deg);
				transform-origin: $xs-nth-child-1-transform-origin;
			}
			&:nth-child(2) {
				transform: translate($xs-nth-child-2-translate) rotate(#{$xs-nth-child-2-rotate}deg);
				transform-origin: $xs-nth-child-2-transform-origin;
			}
			&:nth-child(3) {
				transform: translate($xs-nth-child-3-translate) rotate(#{$xs-nth-child-3-rotate}deg);
				transform-origin: $xs-nth-child-3-transform-origin;
			}
			&:nth-child(4) {
				transform: translate($xs-nth-child-4-translate) rotate(#{$xs-nth-child-4-rotate}deg);
				transform-origin: $xs-nth-child-4-transform-origin;
			}
			&:nth-child(5) {
				transform: translate($xs-nth-child-5-translate) rotate(#{$xs-nth-child-5-rotate}deg);
				transform-origin: $xs-nth-child-5-transform-origin;
			}
			&:nth-child(n+6) {
				transform: translate($xs-nth-child-gt5-translate) rotate(#{$xs-nth-child-gt5-rotate}deg);
				transform-origin: $xs-nth-child-gt5-transform-origin;
			}

		}

		div.card-stack-card-end {

			width: $xs-card-stack-card-end-width;
			height: $xs-card-stack-card-end-height;

			transform: translate($xs-card-stack-card-end-translate) rotate(#{$xs-card-stack-card-end-rotate}deg);

		}

		&:hover {

			height: $xs-card-stack-height;

			div.card-stack-card {

				&:nth-child(1) {
					transform: translate($xs-nth-child-1-translate-hover);
				}
				&:nth-child(2) {
					transform: translate($xs-nth-child-2-translate-hover);
				}
				&:nth-child(3) {
					transform: translate($xs-nth-child-3-translate-hover);
				}
				&:nth-child(4) {
					transform: translate($xs-nth-child-4-translate-hover);
				}
				&:nth-child(5) {
					transform: translate($xs-nth-child-5-translate-hover);
				}
				&:nth-child(n+6) {
					transform: translate($xs-nth-child-gt5-translate-hover);
				}
				&:nth-child(n+7) {
					transform: translate($xs-nth-child-gt5-translate-hover);
				}

			}

			div.card-stack-card-end {
				transform: translate($xs-card-stack-card-end-translate-hover);
			}
		}

	}

}

@include media-breakpoint-only(sm) {

	.card-stack-container {

		padding: 0;
		margin: 0;

		height: $sm-card-stack-height;

	}

	div.card-stack {

		width: $sm-card-stack-width;
		height: $sm-card-stack-height;

		div.card-stack-card {

			width: $sm-card-width;
			height: $sm-card-height;

			padding: $sm-card-padding;
			margin: $sm-card-margin;


			&:nth-child(1) {
				transform: translate($sm-nth-child-1-translate) rotate(#{$sm-nth-child-1-rotate}deg);
				transform-origin: $sm-nth-child-1-transform-origin;
			}
			&:nth-child(2) {
				transform: translate($sm-nth-child-2-translate) rotate(#{$sm-nth-child-2-rotate}deg);
				transform-origin: $sm-nth-child-2-transform-origin;
			}
			&:nth-child(3) {
				transform: translate($sm-nth-child-3-translate) rotate(#{$sm-nth-child-3-rotate}deg);
				transform-origin: $sm-nth-child-3-transform-origin;
			}
			&:nth-child(4) {
				transform: translate($sm-nth-child-4-translate) rotate(#{$sm-nth-child-4-rotate}deg);
				transform-origin: $sm-nth-child-4-transform-origin;
			}
			&:nth-child(5) {
				transform: translate($sm-nth-child-5-translate) rotate(#{$sm-nth-child-5-rotate}deg);
				transform-origin: $sm-nth-child-5-transform-origin;
			}
			&:nth-child(n+6) {
				transform: translate($sm-nth-child-gt5-translate) rotate(#{$sm-nth-child-gt5-rotate}deg);
				transform-origin: $sm-nth-child-gt5-transform-origin;
			}

		}

		div.card-stack-card-end {

			width: $sm-card-stack-card-end-width;
			height: $sm-card-stack-card-end-height;

			transform: translate($sm-card-stack-card-end-translate) rotate(#{$sm-card-stack-card-end-rotate}deg);

		}

		&:hover {

			height: $sm-card-stack-height;

			div.card-stack-card {

				&:nth-child(1) {
					transform: translate($sm-nth-child-1-translate-hover);
				}
				&:nth-child(2) {
					transform: translate($sm-nth-child-2-translate-hover);
				}
				&:nth-child(3) {
					transform: translate($sm-nth-child-3-translate-hover);
				}
				&:nth-child(4) {
					transform: translate($sm-nth-child-4-translate-hover);
				}
				&:nth-child(5) {
					transform: translate($sm-nth-child-5-translate-hover);
				}
				&:nth-child(n+6) {
					transform: translate($sm-nth-child-gt5-translate-hover);
				}
				&:nth-child(n+7) {
					transform: translate($sm-nth-child-gt5-translate-hover);
				}

			}

			div.card-stack-card-end {
				transform: translate($sm-card-stack-card-end-translate-hover);
			}
		}

	}

}

@include media-breakpoint-only(md) {

	.card-stack-container {

		padding: 0;
		margin: 0;

		height: $md-card-stack-height;

	}

	div.card-stack {

		width: $md-card-stack-width;
		height: $md-card-stack-height;

		div.card-stack-card {

			width: $md-card-width;
			height: $md-card-height;

			padding: $md-card-padding;
			margin: $md-card-margin;


			&:nth-child(1) {
				transform: translate($md-nth-child-1-translate) rotate(#{$md-nth-child-1-rotate}deg);
				transform-origin: $md-nth-child-1-transform-origin;
			}
			&:nth-child(2) {
				transform: translate($md-nth-child-2-translate) rotate(#{$md-nth-child-2-rotate}deg);
				transform-origin: $md-nth-child-2-transform-origin;
			}
			&:nth-child(3) {
				transform: translate($md-nth-child-3-translate) rotate(#{$md-nth-child-3-rotate}deg);
				transform-origin: $md-nth-child-3-transform-origin;
			}
			&:nth-child(4) {
				transform: translate($md-nth-child-4-translate) rotate(#{$md-nth-child-4-rotate}deg);
				transform-origin: $md-nth-child-4-transform-origin;
			}
			&:nth-child(5) {
				transform: translate($md-nth-child-5-translate) rotate(#{$md-nth-child-5-rotate}deg);
				transform-origin: $md-nth-child-5-transform-origin;
			}
			&:nth-child(n+6) {
				transform: translate($md-nth-child-gt5-translate) rotate(#{$md-nth-child-gt5-rotate}deg);
				transform-origin: $md-nth-child-gt5-transform-origin;
			}

		}

		div.card-stack-card-end {

			width: $md-card-stack-card-end-width;
			height: $md-card-stack-card-end-height;

			transform: translate($md-card-stack-card-end-translate) rotate(#{$md-card-stack-card-end-rotate}deg);

		}

		&:hover {

			height: $md-card-stack-height;

			div.card-stack-card {

				&:nth-child(1) {
					transform: translate($md-nth-child-1-translate-hover);
				}
				&:nth-child(2) {
					transform: translate($md-nth-child-2-translate-hover);
				}
				&:nth-child(3) {
					transform: translate($md-nth-child-3-translate-hover);
				}
				&:nth-child(4) {
					transform: translate($md-nth-child-4-translate-hover);
				}
				&:nth-child(5) {
					transform: translate($md-nth-child-5-translate-hover);
				}
				&:nth-child(n+6) {
					transform: translate($md-nth-child-gt5-translate-hover);
				}
				&:nth-child(n+7) {
					transform: translate($md-nth-child-gt5-translate-hover);
				}

			}

			div.card-stack-card-end {
				transform: translate($md-card-stack-card-end-translate-hover);
			}
		}

	}

}

@include media-breakpoint-only(lg) {

	.card-stack-container {

		padding: 0;
		margin: 0;

		height: $lg-card-stack-height;

	}

	div.card-stack {

		width: $lg-card-stack-width;
		height: $lg-card-stack-height;

		div.card-stack-card {

			width: $lg-card-width;
			height: $lg-card-height;

			padding: $lg-card-padding;
			margin: $lg-card-margin;


			&:nth-child(1) {
				transform: translate($lg-nth-child-1-translate) rotate(#{$lg-nth-child-1-rotate}deg);
				transform-origin: $lg-nth-child-1-transform-origin;
			}
			&:nth-child(2) {
				transform: translate($lg-nth-child-2-translate) rotate(#{$lg-nth-child-2-rotate}deg);
				transform-origin: $lg-nth-child-2-transform-origin;
			}
			&:nth-child(3) {
				transform: translate($lg-nth-child-3-translate) rotate(#{$lg-nth-child-3-rotate}deg);
				transform-origin: $lg-nth-child-3-transform-origin;
			}
			&:nth-child(4) {
				transform: translate($lg-nth-child-4-translate) rotate(#{$lg-nth-child-4-rotate}deg);
				transform-origin: $lg-nth-child-4-transform-origin;
			}
			&:nth-child(5) {
				transform: translate($lg-nth-child-5-translate) rotate(#{$lg-nth-child-5-rotate}deg);
				transform-origin: $lg-nth-child-5-transform-origin;
			}
			&:nth-child(n+6) {
				transform: translate($lg-nth-child-gt5-translate) rotate(#{$lg-nth-child-gt5-rotate}deg);
				transform-origin: $lg-nth-child-gt5-transform-origin;
			}

		}

		div.card-stack-card-end {

			width: $lg-card-stack-card-end-width;
			height: $lg-card-stack-card-end-height;

			transform: translate($lg-card-stack-card-end-translate) rotate(#{$lg-card-stack-card-end-rotate}deg);

		}

		&:hover {

			height: $lg-card-stack-height;

			div.card-stack-card {

				&:nth-child(1) {
					transform: translate($lg-nth-child-1-translate-hover);
				}
				&:nth-child(2) {
					transform: translate($lg-nth-child-2-translate-hover);
				}
				&:nth-child(3) {
					transform: translate($lg-nth-child-3-translate-hover);
				}
				&:nth-child(4) {
					transform: translate($lg-nth-child-4-translate-hover);
				}
				&:nth-child(5) {
					transform: translate($lg-nth-child-5-translate-hover);
				}
				&:nth-child(n+6) {
					transform: translate($lg-nth-child-gt5-translate-hover);
				}
				&:nth-child(n+7) {
					transform: translate($lg-nth-child-gt5-translate-hover);
				}

			}

			div.card-stack-card-end {
				transform: translate($lg-card-stack-card-end-translate-hover);
			}
		}

	}

}