div#card-stack {

	display: inline-block;
    position: relative;
    white-space: nowrap;

	width: 100vw;
	height: 35rem;

	overflow-x: auto;
	overflow-y: hidden;

	margin: 0;
	padding: 2rem;

	&::-webkit-scrollbar {
	    display: none;
	}

	div.card-stack-card {

		position: absolute;
		display: inline-block;

	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;

	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

		width: 15rem;
		height: 22.5rem;

		vertical-align: top;
		font-size: initial;
		white-space: normal;
		transition: all 0.3s ease-out;

		padding: 1rem;
		margin: 0 0 0 2rem;

		background: $card-bg;
		color: $body-color-inverse;

		@include box-shadow-shallow;

		&:first-child {
			transform: translate(20vw, 10vh) rotate(-15deg);
			z-index: 1000 !important;
		}
		&:nth-child(2) {
			transform: translate(30vw, 7vh) rotate(-5deg);
			z-index: 2000 !important;
		}
		&:nth-child(3) {
			transform: translate(40vw, 5vh) rotate(-0);
			z-index: 3000 !important;
		}
		&:nth-child(4) {
			transform: translate(50vw, 7vh) rotate(5deg);
			z-index: 2000 !important;
		}
		&:nth-child(5) {
			transform: translate(60vw, 10vh) rotate(15deg);
			z-index: 1000 !important;
		}
		&:nth-child(n+6) {
			transform: translate(60vw, 10vh) rotate(15deg);
			z-index: 500 !important;
			visibility: hidden;
		}

		article {


			a {
				color: $link-color-inverse;
			}

			h2 {
				margin: 0 0 0.5rem 0;
			}

		}
	}

	div.card-stack-card-end {

		position: absolute;
		display: inline-block;

	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;

	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

		width: 1rem;
		height: 22.5rem;

		vertical-align: top;
		font-size: initial;
		white-space: normal;
		transition: all 0.3s ease-out;

		padding: 1rem;
		margin: 0 0 0 0rem;

		background: $card-bg;
		color: $body-color-inverse;

		@include box-shadow-shallow;

		transform: translate(60vw, 10vh) rotate(15deg);
		z-index: 1000 !important;
		visibility: hidden;

	}

	&:hover {
		div.card-stack-card {
			&:first-child {
				transform: translate(0, 10vh);
				z-index: 1000 !important;
			}
			&:nth-child(2) {
				transform: translate(20vw,10vh);
				z-index: 2000 !important;
			}
			&:nth-child(3) {
				transform: translate(40vw, 10vh);
				z-index: 3000 !important;
			}
			&:nth-child(4) {
				transform: translate(60vw, 10vh);
				z-index: 2000 !important;
			}
			&:nth-child(5) {
				transform: translate(80vw, 10vh);
				z-index: 1000 !important;
			}
			&:nth-child(n+6) {
				visibility: visible;
				transform: translate(100vw, 10vh);
				z-index: 500 !important;
			}
		}
		div.card-stack-card-end {

			visibility: hidden;
			transform: translate(120vw, 10vh);
			z-index: 500 !important;

		}
	}
}


@include media-breakpoint-only(xs) {
	div#card-stack {
		padding-top: 15vh;
		padding-bottom: 10vh;
	}
}

@include media-breakpoint-only(sm) {
	div#card-stack {
		padding-top: 20vh;
		padding-bottom: 20vh;
	}
}

@include media-breakpoint-only(md) {
	div#card-stack {
		padding-top: 20vh;
		padding-bottom: 20vh;
	}
}

@include media-breakpoint-only(lg) {
	div#card-stack {
		padding-top: 10vh;
		padding-bottom: 10vh;
	}
}