---
layout: default
---


<div id="home" class="container-fluid">

	<div class="container">

		<div class="row">

			<div id="content" class="col-xs-12">

				<h1>{{ site.title }}</h1>

				<p class="lead">Inspired by <a href="//theoutline.com">The Outline</a>.</p>
				<p>A work in progress.</p>

			</div>

		</div>

	</div>

</div>

{% include card-stack.html %}

<div id="how-to" class="container">

	<div class="row flex-items-xs-center">

		<div class="col-xs-12 col-sm-8">

			<article id="content">

			{{ content }}

			</article>

		</div>

	</div>

</div>